In [1]:
import pandas as pd

In [3]:
product_df = pd.read_csv("product_master.csv")
stock_df = pd.read_csv("stock.csv")

C:\Users\Bruno Penela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Explorar Product DF

In [21]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24693 entries, 0 to 24692
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bravo_ww_fran_name   24693 non-null  object
 1   bravo_fran_name      24693 non-null  object
 2   bravo_sub_fran_name  24693 non-null  object
 3   bravo_major_name     24693 non-null  object
 4   bravo_minor_name     24693 non-null  object
 5   product_code         24693 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [6]:
product_df.head()

,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name,product_code
0,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0,product_code_0
1,bravo_ww_fran_name_1,bravo_fran_name_1,bravo_sub_fran_name_1,bravo_major_name_1,bravo_minor_name_1,product_code_1
2,bravo_ww_fran_name_2,bravo_fran_name_2,bravo_sub_fran_name_2,bravo_major_name_2,bravo_minor_name_2,product_code_2
3,bravo_ww_fran_name_2,bravo_fran_name_2,bravo_sub_fran_name_2,bravo_major_name_2,bravo_minor_name_2,product_code_3
4,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0,product_code_4

### Descrição dos campos

<p> bravo_ww_fran_name – company designation for the global group <p/>
<p> bravo_fran_name – company designation for a region of the group <p/>
<p> bravo_sub_fran_name – company area <p/>
<p> bravo_major_name – product family <p/>
<p> bravo_minor_name – product sub-family <p/>
product_code – product code

In [8]:
product_df["bravo_ww_fran_name"].unique()

array(['bravo_ww_fran_name_0', 'bravo_ww_fran_name_1',
       'bravo_ww_fran_name_2', 'bravo_ww_fran_name_3',
       'bravo_ww_fran_name_4', 'bravo_ww_fran_name_5',
       'bravo_ww_fran_name_6', 'bravo_ww_fran_name_7',
       'bravo_ww_fran_name_8'], dtype=object)

In [9]:
product_df["bravo_fran_name"].unique()

array(['bravo_fran_name_0', 'bravo_fran_name_1', 'bravo_fran_name_2',
       'bravo_fran_name_3', 'bravo_fran_name_4', 'bravo_fran_name_5',
       'bravo_fran_name_6', 'bravo_fran_name_7', 'bravo_fran_name_8',
       'bravo_fran_name_9', 'bravo_fran_name_10', 'bravo_fran_name_11',
       'bravo_fran_name_12', 'bravo_fran_name_13', 'bravo_fran_name_14',
       'bravo_fran_name_15', 'bravo_fran_name_16', 'bravo_fran_name_17',
       'bravo_fran_name_18', 'bravo_fran_name_19', 'bravo_fran_name_20',
       'bravo_fran_name_21', 'bravo_fran_name_22', 'bravo_fran_name_23',
       'bravo_fran_name_24', 'bravo_fran_name_25', 'bravo_fran_name_26',
       'bravo_fran_name_27', 'bravo_fran_name_28', 'bravo_fran_name_29',
       'bravo_fran_name_30', 'bravo_fran_name_31'], dtype=object)

In [10]:
product_df["bravo_sub_fran_name"].unique()

array(['bravo_sub_fran_name_0', 'bravo_sub_fran_name_1',
       'bravo_sub_fran_name_2', 'bravo_sub_fran_name_3',
       'bravo_sub_fran_name_4', 'bravo_sub_fran_name_5',
       'bravo_sub_fran_name_6', 'bravo_sub_fran_name_7',
       'bravo_sub_fran_name_8', 'bravo_sub_fran_name_9',
       'bravo_sub_fran_name_10', 'bravo_sub_fran_name_11',
       'bravo_sub_fran_name_12', 'bravo_sub_fran_name_13',
       'bravo_sub_fran_name_14', 'bravo_sub_fran_name_15',
       'bravo_sub_fran_name_16', 'bravo_sub_fran_name_17',
       'bravo_sub_fran_name_18', 'bravo_sub_fran_name_19',
       'bravo_sub_fran_name_20', 'bravo_sub_fran_name_21',
       'bravo_sub_fran_name_22', 'bravo_sub_fran_name_23',
       'bravo_sub_fran_name_24', 'bravo_sub_fran_name_25',
       'bravo_sub_fran_name_26', 'bravo_sub_fran_name_27',
       'bravo_sub_fran_name_28', 'bravo_sub_fran_name_29',
       'bravo_sub_fran_name_30', 'bravo_sub_fran_name_31',
       'bravo_sub_fran_name_32', 'bravo_sub_fran_name_33',
       'bravo_sub_fran_name_34', 'bravo_sub_fran_name_35',
       'bravo_sub_fran_name_36', 'bravo_sub_fran_name_37',
       'bravo_sub_fran_name_38', 'bravo_sub_fran_name_39'], dtype=object)

In [11]:
product_df["bravo_major_name"].unique()

array(['bravo_major_name_0', 'bravo_major_name_1', 'bravo_major_name_2',
       'bravo_major_name_3', 'bravo_major_name_4', 'bravo_major_name_5',
       'bravo_major_name_6', 'bravo_major_name_7', 'bravo_major_name_8',
       'bravo_major_name_9', 'bravo_major_name_10', 'bravo_major_name_11',
       'bravo_major_name_12', 'bravo_major_name_13',
       'bravo_major_name_14', 'bravo_major_name_15',
       'bravo_major_name_16', 'bravo_major_name_17',
       'bravo_major_name_18', 'bravo_major_name_19',
       'bravo_major_name_20', 'bravo_major_name_21',
       'bravo_major_name_22', 'bravo_major_name_23',
       'bravo_major_name_24', 'bravo_major_name_25',
       'bravo_major_name_26', 'bravo_major_name_27',
       'bravo_major_name_28', 'bravo_major_name_29',
       'bravo_major_name_30', 'bravo_major_name_31',
       'bravo_major_name_32', 'bravo_major_name_33',
       'bravo_major_name_34', 'bravo_major_name_35',
       'bravo_major_name_36', 'bravo_major_name_37',
       'bravo_major_name_38', 'bravo_major_name_39',
       'bravo_major_name_40', 'bravo_major_name_41',
       'bravo_major_name_42', 'bravo_major_name_43',
       'bravo_major_name_44', 'bravo_major_name_45',
       'bravo_major_name_46', 'bravo_major_name_47',
       'bravo_major_name_48', 'bravo_major_name_49',
       'bravo_major_name_50', 'bravo_major_name_51',
       'bravo_major_name_52', 'bravo_major_name_53',
       'bravo_major_name_54', 'bravo_major_name_55',
       'bravo_major_name_56', 'bravo_major_name_57',
       'bravo_major_name_58', 'bravo_major_name_59',
       'bravo_major_name_60', 'bravo_major_name_61',
       'bravo_major_name_62', 'bravo_major_name_63',
       'bravo_major_name_64', 'bravo_major_name_65',
       'bravo_major_name_66', 'bravo_major_name_67',
       'bravo_major_name_68', 'bravo_major_name_69',
       'bravo_major_name_70', 'bravo_major_name_71',
       'bravo_major_name_72', 'bravo_major_name_73',
       'bravo_major_name_74', 'bravo_major_name_75',
       'bravo_major_name_76', 'bravo_major_name_77',
       'bravo_major_name_78', 'bravo_major_name_79',
       'bravo_major_name_80', 'bravo_major_name_81',
       'bravo_major_name_82', 'bravo_major_name_83',
       'bravo_major_name_84', 'bravo_major_name_85',
       'bravo_major_name_86', 'bravo_major_name_87',
       'bravo_major_name_88', 'bravo_major_name_89',
       'bravo_major_name_90', 'bravo_major_name_91',
       'bravo_major_name_92', 'bravo_major_name_93',
       'bravo_major_name_94', 'bravo_major_name_95',
       'bravo_major_name_96', 'bravo_major_name_97',
       'bravo_major_name_98', 'bravo_major_name_99',
       'bravo_major_name_100', 'bravo_major_name_101',
       'bravo_major_name_102', 'bravo_major_name_103',
       'bravo_major_name_104', 'bravo_major_name_105',
       'bravo_major_name_106', 'bravo_major_name_107',
       'bravo_major_name_108', 'bravo_major_name_109',
       'bravo_major_name_110'], dtype=object)

In [12]:
product_df["bravo_minor_name"].unique()

array(['bravo_minor_name_0', 'bravo_minor_name_1', 'bravo_minor_name_2',
       'bravo_minor_name_3', 'bravo_minor_name_4', 'bravo_minor_name_5',
       'bravo_minor_name_6', 'bravo_minor_name_7', 'bravo_minor_name_8',
       'bravo_minor_name_9', 'bravo_minor_name_10', 'bravo_minor_name_11',
       'bravo_minor_name_12', 'bravo_minor_name_13',
       'bravo_minor_name_14', 'bravo_minor_name_15',
       'bravo_minor_name_16', 'bravo_minor_name_17',
       'bravo_minor_name_18', 'bravo_minor_name_19',
       'bravo_minor_name_20', 'bravo_minor_name_21',
       'bravo_minor_name_22', 'bravo_minor_name_23',
       'bravo_minor_name_24', 'bravo_minor_name_25',
       'bravo_minor_name_26', 'bravo_minor_name_27',
       'bravo_minor_name_28', 'bravo_minor_name_29',
       'bravo_minor_name_30', 'bravo_minor_name_31',
       'bravo_minor_name_32', 'bravo_minor_name_33',
       'bravo_minor_name_34', 'bravo_minor_name_35',
       'bravo_minor_name_36', 'bravo_minor_name_37',
       'bravo_minor_name_38', 'bravo_minor_name_39',
       'bravo_minor_name_40', 'bravo_minor_name_41',
       'bravo_minor_name_42', 'bravo_minor_name_43',
       'bravo_minor_name_44', 'bravo_minor_name_45',
       'bravo_minor_name_46', 'bravo_minor_name_47',
       'bravo_minor_name_48', 'bravo_minor_name_49',
       'bravo_minor_name_50', 'bravo_minor_name_51',
       'bravo_minor_name_52', 'bravo_minor_name_53',
       'bravo_minor_name_54', 'bravo_minor_name_55',
       'bravo_minor_name_56', 'bravo_minor_name_57',
       'bravo_minor_name_58', 'bravo_minor_name_59',
       'bravo_minor_name_60', 'bravo_minor_name_61',
       'bravo_minor_name_62', 'bravo_minor_name_63',
       'bravo_minor_name_64', 'bravo_minor_name_65',
       'bravo_minor_name_66', 'bravo_minor_name_67',
       'bravo_minor_name_68', 'bravo_minor_name_69',
       'bravo_minor_name_70', 'bravo_minor_name_71',
       'bravo_minor_name_72', 'bravo_minor_name_73',
       'bravo_minor_name_74', 'bravo_minor_name_75',
       'bravo_minor_name_76', 'bravo_minor_name_77',
       'bravo_minor_name_78', 'bravo_minor_name_79',
       'bravo_minor_name_80', 'bravo_minor_name_81',
       'bravo_minor_name_82', 'bravo_minor_name_83',
       'bravo_minor_name_84', 'bravo_minor_name_85',
       'bravo_minor_name_86', 'bravo_minor_name_87',
       'bravo_minor_name_88', 'bravo_minor_name_89',
       'bravo_minor_name_90', 'bravo_minor_name_91',
       'bravo_minor_name_92', 'bravo_minor_name_93',
       'bravo_minor_name_94', 'bravo_minor_name_95',
       'bravo_minor_name_96', 'bravo_minor_name_97',
       'bravo_minor_name_98', 'bravo_minor_name_99',
       'bravo_minor_name_100', 'bravo_minor_name_101',
       'bravo_minor_name_102', 'bravo_minor_name_103',
       'bravo_minor_name_104', 'bravo_minor_name_105',
       'bravo_minor_name_106', 'bravo_minor_name_107',
       'bravo_minor_name_108', 'bravo_minor_name_109',
       'bravo_minor_name_110', 'bravo_minor_name_111',
       'bravo_minor_name_112', 'bravo_minor_name_113',
       'bravo_minor_name_114', 'bravo_minor_name_115',
       'bravo_minor_name_116', 'bravo_minor_name_117',
       'bravo_minor_name_118', 'bravo_minor_name_119',
       'bravo_minor_name_120', 'bravo_minor_name_121',
       'bravo_minor_name_122', 'bravo_minor_name_123',
       'bravo_minor_name_124', 'bravo_minor_name_125',
       'bravo_minor_name_126', 'bravo_minor_name_127',
       'bravo_minor_name_128', 'bravo_minor_name_129',
       'bravo_minor_name_130', 'bravo_minor_name_131',
       'bravo_minor_name_132', 'bravo_minor_name_133',
       'bravo_minor_name_134', 'bravo_minor_name_135',
       'bravo_minor_name_136', 'bravo_minor_name_137',
       'bravo_minor_name_138', 'bravo_minor_name_139',
       'bravo_minor_name_140', 'bravo_minor_name_141',
       'bravo_minor_name_142', 'bravo_minor_name_143',
       'bravo_minor_name_144', 'bravo_minor_name_145',
       'bravo_minor_name_146', 'bravo_minor_name_147',
       'bravo_minor_name_148', 'bravo_minor_name_149',
       'bravo_minor_name_150', 'bravo_minor_name_151',
       'bravo_minor_name_152', 'bravo_minor_name_153',
       'bravo_minor_name_154', 'bravo_minor_name_155',
       'bravo_minor_name_156', 'bravo_minor_name_157',
       'bravo_minor_name_158', 'bravo_minor_name_159',
       'bravo_minor_name_160', 'bravo_minor_name_161',
       'bravo_minor_name_162', 'bravo_minor_name_163',
       'bravo_minor_name_164', 'bravo_minor_name_165',
       'bravo_minor_name_166', 'bravo_minor_name_167',
       'bravo_minor_name_168', 'bravo_minor_name_169',
       'bravo_minor_name_170', 'bravo_minor_name_171',
       'bravo_minor_name_172', 'bravo_minor_name_173',
       'bravo_minor_name_174', 'bravo_minor_name_175',
       'bravo_minor_name_176', 'bravo_minor_name_177',
       'bravo_minor_name_178', 'bravo_minor_name_179',
       'bravo_minor_name_180', 'bravo_minor_name_181',
       'bravo_minor_name_182', 'bravo_minor_name_183',
       'bravo_minor_name_184', 'bravo_minor_name_185',
       'bravo_minor_name_186', 'bravo_minor_name_187',
       'bravo_minor_name_188', 'bravo_minor_name_189',
       'bravo_minor_name_190', 'bravo_minor_name_191',
       'bravo_minor_name_192', 'bravo_minor_name_193',
       'bravo_minor_name_194', 'bravo_minor_name_195',
       'bravo_minor_name_196', 'bravo_minor_name_197',
       'bravo_minor_name_198', 'bravo_minor_name_199',
       'bravo_minor_name_200', 'bravo_minor_name_201',
       'bravo_minor_name_202', 'bravo_minor_name_203',
       'bravo_minor_name_204', 'bravo_minor_name_205',
       'bravo_minor_name_206', 'bravo_minor_name_207',
       'bravo_minor_name_208', 'bravo_minor_name_209',
       'bravo_minor_name_210', 'bravo_minor_name_211',
       'bravo_minor_name_212', 'bravo_minor_name_213',
       'bravo_minor_name_214', 'bravo_minor_name_215',
       'bravo_minor_name_216', 'bravo_minor_name_217',
       'bravo_minor_name_218', 'bravo_minor_name_219',
       'bravo_minor_name_220', 'bravo_minor_name_221',
       'bravo_minor_name_222', 'bravo_minor_name_223',
       'bravo_minor_name_224', 'bravo_minor_name_225',
       'bravo_minor_name_226', 'bravo_minor_name_227',
       'bravo_minor_name_228', 'bravo_minor_name_229',
       'bravo_minor_name_230', 'bravo_minor_name_231',
       'bravo_minor_name_232', 'bravo_minor_name_233',
       'bravo_minor_name_234', 'bravo_minor_name_235',
       'bravo_minor_name_236', 'bravo_minor_name_237',
       'bravo_minor_name_238', 'bravo_minor_name_239',
       'bravo_minor_name_240', 'bravo_minor_name_241',
       'bravo_minor_name_242', 'bravo_minor_name_243',
       'bravo_minor_name_244', 'bravo_minor_name_245',
       'bravo_minor_name_246', 'bravo_minor_name_247',
       'bravo_minor_name_248', 'bravo_minor_name_249',
       'bravo_minor_name_250', 'bravo_minor_name_251',
       'bravo_minor_name_252', 'bravo_minor_name_253',
       'bravo_minor_name_254', 'bravo_minor_name_255',
       'bravo_minor_name_256', 'bravo_minor_name_257',
       'bravo_minor_name_258', 'bravo_minor_name_259',
       'bravo_minor_name_260', 'bravo_minor_name_261',
       'bravo_minor_name_262', 'bravo_minor_name_263',
       'bravo_minor_name_264', 'bravo_minor_name_265',
       'bravo_minor_name_266', 'bravo_minor_name_267',
       'bravo_minor_name_268', 'bravo_minor_name_269',
       'bravo_minor_name_270', 'bravo_minor_name_271',
       'bravo_minor_name_272', 'bravo_minor_name_273',
       'bravo_minor_name_274', 'bravo_minor_name_275',
       'bravo_minor_name_276', 'bravo_minor_name_277',
       'bravo_minor_name_278', 'bravo_minor_name_279',
       'bravo_minor_name_280', 'bravo_minor_name_281',
       'bravo_minor_name_282', 'bravo_minor_name_283',
       'bravo_minor_name_284', 'bravo_minor_name_285',
       'bravo_minor_name_286', 'bravo_minor_name_287',
       'bravo_minor_name_288', 'bravo_minor_name_289',
       'bravo_minor_name_290', 'bravo_minor_name_291',
       'bravo_minor_name_292', 'bravo_minor_name_293',
       'bravo_minor_name_294', 'bravo_minor_name_295',
       'bravo_minor_name_296', 'bravo_minor_name_297',
       'bravo_minor_name_298', 'bravo_minor_name_299',
       'bravo_minor_name_300', 'bravo_minor_name_301',
       'bravo_minor_name_302', 'bravo_minor_name_303',
       'bravo_minor_name_304', 'bravo_minor_name_305',
       'bravo_minor_name_306', 'bravo_minor_name_307',
       'bravo_minor_name_308', 'bravo_minor_name_309',
       'bravo_minor_name_310', 'bravo_minor_name_311',
       'bravo_minor_name_312', 'bravo_minor_name_313',
       'bravo_minor_name_314', 'bravo_minor_name_315',
       'bravo_minor_name_316', 'bravo_minor_name_317',
       'bravo_minor_name_318', 'bravo_minor_name_319',
       'bravo_minor_name_320', 'bravo_minor_name_321',
       'bravo_minor_name_322', 'bravo_minor_name_323',
       'bravo_minor_name_324', 'bravo_minor_name_325',
       'bravo_minor_name_326', 'bravo_minor_name_327',
       'bravo_minor_name_328', 'bravo_minor_name_329',
       'bravo_minor_name_330', 'bravo_minor_name_331',
       'bravo_minor_name_332', 'bravo_minor_name_333',
       'bravo_minor_name_334', 'bravo_minor_name_335',
       'bravo_minor_name_336', 'bravo_minor_name_337',
       'bravo_minor_name_338', 'bravo_minor_name_339',
       'bravo_minor_name_340', 'bravo_minor_name_341',
       'bravo_minor_name_342', 'bravo_minor_name_343',
       'bravo_minor_name_344', 'bravo_minor_name_345',
       'bravo_minor_name_346', 'bravo_minor_name_347',
       'bravo_minor_name_348', 'bravo_minor_name_349',
       'bravo_minor_name_350', 'bravo_minor_name_351',
       'bravo_minor_name_352', 'bravo_minor_name_353',
       'bravo_minor_name_354', 'bravo_minor_name_355',
       'bravo_minor_name_356', 'bravo_minor_name_357',
       'bravo_minor_name_358', 'bravo_minor_name_359',
       'bravo_minor_name_360', 'bravo_minor_name_361',
       'bravo_minor_name_362', 'bravo_minor_name_363',
       'bravo_minor_name_364', 'bravo_minor_name_365',
       'bravo_minor_name_366', 'bravo_minor_name_367',
       'bravo_minor_name_368', 'bravo_minor_name_369',
       'bravo_minor_name_370', 'bravo_minor_name_371',
       'bravo_minor_name_372', 'bravo_minor_name_373',
       'bravo_minor_name_374', 'bravo_minor_name_375',
       'bravo_minor_name_376', 'bravo_minor_name_377',
       'bravo_minor_name_378', 'bravo_minor_name_379',
       'bravo_minor_name_380', 'bravo_minor_name_381',
       'bravo_minor_name_382', 'bravo_minor_name_383',
       'bravo_minor_name_384', 'bravo_minor_name_385',
       'bravo_minor_name_386', 'bravo_minor_name_387',
       'bravo_minor_name_388', 'bravo_minor_name_389',
       'bravo_minor_name_390', 'bravo_minor_name_391',
       'bravo_minor_name_392', 'bravo_minor_name_393',
       'bravo_minor_name_394', 'bravo_minor_name_395',
       'bravo_minor_name_396', 'bravo_minor_name_397',
       'bravo_minor_name_398', 'bravo_minor_name_399',
       'bravo_minor_name_400', 'bravo_minor_name_401',
       'bravo_minor_name_402', 'bravo_minor_name_403',
       'bravo_minor_name_404', 'bravo_minor_name_405',
       'bravo_minor_name_406', 'bravo_minor_name_407',
       'bravo_minor_name_408', 'bravo_minor_name_409',
       'bravo_minor_name_410', 'bravo_minor_name_411',
       'bravo_minor_name_412', 'bravo_minor_name_413'], dtype=object)

In [13]:
product_df["product_code"].unique()

array(['product_code_0', 'product_code_1', 'product_code_2', ...,
       'product_code_24690', 'product_code_24691', 'product_code_24692'],
      dtype=object)

# Explorar Stock DF

In [22]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5199686 entries, 0 to 5199685
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   country_code          object
 1   cac                   object
 2   product_code          object
 3   month_code            float64
 4   invoiced_sales        object
 5   volume_primary_units  object
 6   inventory_cost        object
dtypes: float64(1), object(6)
memory usage: 277.7+ MB

In [14]:
stock_df.head()

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost
0,country_code_0,cac_0,product_code_0,190001.0,0,0,0
1,country_code_0,cac_0,product_code_1,190001.0,0,0,0
2,country_code_0,cac_0,product_code_2,190001.0,0,0,0
3,country_code_0,cac_0,product_code_3,190001.0,0,0,0
4,country_code_0,cac_0,product_code_4,190001.0,0,0,0

### Descrição dos campos

<p> country_code – Code of the country <p/>
<p> cac – customer <p/>
<p> product_code – product sold <p/>
<p> month_code – year and month of the sale <p/>
<p> currency_code - currency <p/>
<p> invoiced_sales - sales <p/>
<p> volume_primary_units – number of sold units <p/>
<p> inventory_cost – cost of the product for the company (unitary cost multiplied by volume)

In [17]:
stock_df["country_code"].unique()

array(['country_code_0', 'country_code_1', 'country_code_2',
       'country_code_3'], dtype=object)

In [18]:
stock_df["cac"].unique()

array(['cac_0', 'cac_1', 'cac_2', ..., 'cac_10029', 'cac_10030',
       'cac_10031'], dtype=object)

In [19]:
stock_df["product_code"].unique()

array(['product_code_0', 'product_code_1', 'product_code_2', ...,
       'product_code_57983', 'product_code_57984', 'product_code_57985'],
      dtype=object)

In [20]:
stock_df["month_code"].unique()

array([190001., 201804., 201906., 201902., 201812., 201807., 201905.,
       201805., 201802., 201901., 201808., 201903., 201907., 201806.,
       201811., 201803., 201810., 201904., 201801., 201809.,     nan])

In [26]:
stock_df.sort_values(by = "invoiced_sales", axis = 0, ascending = False)

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost
1980403,country_code_1,cac_3010,product_code_551,201905.0,"9999,84",24,"3983,2686461240546"
1905586,country_code_1,cac_3010,product_code_551,201811.0,"9999,84",24,"3983,2686461240546"
1929853,country_code_1,cac_3010,product_code_551,201804.0,"9999,84",24,"3983,2686461240546"
3315358,country_code_3,cac_5799,product_code_9591,201903.0,"9999,5",840,"3862,069091567697"
3976971,country_code_2,cac_7457,product_code_17947,201801.0,9999,2,"0,02"
...,...,...,...,...,...,...,...
2647230,country_code_2,cac_4383,product_code_18057,201809.0,"-0,00000000000000088818",0,"0,00000000000000710543"
2485824,country_code_0,cac_4092,product_code_688,201802.0,"-0,00000000000000088818",0,0
3741020,country_code_3,cac_6652,product_code_4434,201803.0,"-0,00000000000000044409",0,0
19992,country_code_0,cac_48,product_code_492,201903.0,"-0,00000000000000044409",0,0
5199685,country_code_3,cac_9501,product_code_57985,NaN,NaN,NaN,NaN

## Tratar Stock DF